body
{
    width: auto;
    margin: 0%;
}


ul
{
    list-style-type: none;
    margin: 0%;
    padding: 0%;

}

a
{
    text-decoration: none;

}

.header-div
{
    margin-top: 10px    ;
    width: 100%;
    margin-left: 235.400px;
    margin-right: 235.400px;
    display:flex;

    * 
    {
        display: flex;
    }

    .left-header-div
    {
        .other-sites
    {
        
        a
        {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #8d94ad;
            margin-right: 25px;
        }
    }
    }

    .right-header-div
    {

        .settings-item
        {
            a
            {
                color: #8d94ad;
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 22px;
            }
        }

        .right-header-div-support-items
        {
            font-size: 15px;
            font-family: Helvetica, Arial, sans-serif;
            color: black;

            .support
            {
                margin-left: 128px;
            }
        }

        .login
        {
            a
            {
                img
                {
                    margin-right: 7px;
                }
            }
            
        }

        .favourites
        {
            a
            {
                img
                {
                    width: 22px;
                    height: 18px;
                    margin-right: 7px;
                }
            }
        }
        
    }
}



.nav-bar
{
    
    display: flex;
    background-color: #CA1016;
    *
    {
        display: flex   ;
    }

    navbar-logo
    {
        padding-top: 23px;
        padding-right: 25px;
        padding-bottom: 23px;
        padding-left: 0px;
        margin-right: 25px;
    }
}
